  a1{  
color:white;  
background-image:url("a.jpg");  
padding:5px;
font-size:30px;
width:1000px;
height:90px;
border-radius:15px;
font-size:30px;
padding-left:15px;
border:none;
} 
  h2{  
color:white;  
background-image:url("alogo.jpg");  
padding:5px;
font-size:30px;
max-height: 150px;
max-width: 100px;
width:100px;
height:70px;
border-radius:15px;
font-size:30px;
padding-left:25px;
border:none;
} 
h3{  
color:white;  
background-image:url("b.jpg");  
padding:15px; 
font-size:30px;
width:400px;
height:490px;
border-radius:15px;
font-size:30px;
padding-left:25px;
border:none;
}  
h4{  
color:white;  
background-image:url("b.jpg");  
padding:2px; 
font-size:80px;
width:300px;
height:70px;
border-radius:20px;
font-size:10px;
padding-left:25px;
border:none;
}
p1 {border-style: outset;}  
p{  
color:blue; 
}
.shadow {
  background: #000;
  border-radius: 12px 12px 4px 4px;
  box-shadow: 0 0 20px 10px #000;
  height: 12px;
  margin: 30px auto;
  opacity: 0.2;
  width: 270px;
}